:root{
    --cor-primaria: #313131;
    --cor-secundaria: #6C6C6C;
    --cor-de-fundo: #FFF;
    --cor-do-logo: #EF5F4C;
    --cor-da-superficie: #F5F5F5;
    --fonte-primaria: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--fonte-primaria);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-da-superficie);
}

.travelgram-logo {
    align-items: center;
    margin: 1.5rem 0 1.5rem 2rem;
}

.information-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.3rem 2rem 1.3rem 0;
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-weight: 400;
    a{
        text-decoration: none;
        color: inherit;
    }
}

a:hover{
    color: var(--cor-do-logo);
    text-decoration: underline;
}

.user-information {
    display: flex;
    background-color: var(--cor-da-superficie);
    justify-content: space-between;
}

.user-bio{
    display: flex;
    width: 37rem;
    height: 11rem;
    margin: 2rem 0 2rem 2rem;
}

.user-data {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    h1{
        font-size: 2rem;
        font-weight: 700;
    }
    p{
        color: var(--cor-secundaria);
    }
}

.user-travel-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 17.5rem;
    height: 6.5rem;
    margin: 4.25rem 2rem 4.25rem 0;
    gap: 1rem;
    color: var(--cor-secundaria);
}

.user-travel-data-details{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container-img{
    display: flex;
    justify-content: center;
}

.user-img{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem 1.5rem 2rem;
    gap: 1.5rem;
}

.user-img-first-column,
.user-img-second-column,
.user-img-third-column{
    display: flex;
    justify-content: center;
    height: 17.875rem;
    gap: 3rem;
    margin-bottom: 1.5rem;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem 1.5rem 2rem;
    align-items: center;
    color: var(--cor-secundaria);
}

.telgram-policy {
    display: flex;
    gap: 16px;
}